.App {
  text-align: center;
}

.div {
  border: 1px solid #000;
  padding: 10px;
  text-align: center;
}

.box {
  border: 1px dashed #000;
  padding: 15px;
  background-color: #adbed8;
}
input[type='text'] {
  width: 200px;
}

button {
  background-color: #069;
  border-radius: 5px;
  color: #fff;
  margin-bottom: 5px;
  padding: 5px 15px;
  border: none;
}
